{% load static %}<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
 
  <title>{% block title %}DC Council DataSeal{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/favicon.ico" />
  <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/static/authentication/css/main.css">
  <link rel="stylesheet" href="/static/authentication/css/sticky-footer.css">

  <link href="/static/authentication/css/dropzone.css" type="text/css" rel="stylesheet"/>
  <link href="/static/authentication/css/starter-template.css" rel="stylesheet">
  <script src="/static/authentication/js/jquery-1.11.1.min.js"></script>
  <script src="/static/authentication/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>

  {% block opengraph %}
  <meta property="og:title" content="DC Statutes at Large">
  <meta property="og:site_name" content="District of Columbia Statutes at Large">
  <meta property="og:url" content="https://dcstat.dccode.gov">
  <meta property="og:description" content="The DC Statutes at Large includes, in chronological order, all Council acts and resolutions that became law during a Council period.">
  <meta property="og:image" content="https://dccode.gov/static/images/seal.png">

  <!-- Twitter Metadata -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@councilofdc" />
  <meta name="twitter:title" content="District of Columbia Statutes at Large" />
  <meta name="twitter:description" content="The DC Statutes at Large includes, in chronological order, all Council acts and resolutions that became law during a Council period." />
  <meta name="twitter:image" content="https://dccode.gov/static/images/seal.png" />
  <meta name="twitter:url" content="https://dcstat.dccode.gov/" />
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

    <script src="/static/authentication/js/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    {% if user.is_authenticated %}
      <a class="navbar-brand" href="/admin/authapp/">DC Council DataSeal</a>
    {% else %}
      <a class="navbar-brand" href="/">DC Council DataSeal</a>
    {% endif %}
    </div>
    
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/upload/">Check File</a></li>
        <li><a href="/view/">Get List of Hash Values</a></li>
        {% if user.is_authenticated %}
        <li><a href="/admin/authapp/document/add/">Add File</a></li>
        <li><a href="/admin/authapp/document/">View All</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {% if user.is_staff %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/auth/user">Edit Users</a></li>
            <li class="divider"></li>
            <li><a href="/admin/logout/">Log out</a></li>
          </ul>
        </li>
      {% elif user.is_authenticated %}
        <li><a href="/admin/logout/">Log out</a></li>
      {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
    
  </div>
</div>    
    <div class="jumbotron">
      <div class="container">
        <h1><a href="/">DC Council DataSeal</a></h1>
        <p>The <a href="https://dccode.gov">dccode.gov</a> authentiction service</p>
      </div>
    </div>

    <div class="container">
{% block body %}

{% endblock %}
    </div>
    <footer class="footer">
        <div class="container text-center">
        All content contained on this site is available in the <a href="https://creativecommons.org/publicdomain/zero/1.0/">Public Domain</a>. 
        </div>
    </footer>
 {% block extra_js %}{% endblock %}
</body>
</html>